<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Transaction</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
        }
        .btn {
            background-color: #8132b9;
            color: #fff;
            border: 1px solid black;
        }
        .btn:hover {
            background-color: darkviolet;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center" style="color: #fff; background-color: #8132b9;">Edit Transaction id{{ transaction.id }}</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn">Save Changes</button>
                <a href="{% url 'transactions:transaction_list' %}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
    <footer class="text-center mt-4" style="color: #fff;background-color: #8132b9;">
        <p>creativity code جميع الحقوق محفوظة للشركة المالكة &copy; 2024</p>
    </footer>
</body>
</html>
