
body {
    background-color: #000; /* لون الخلفية أسود */
    color: #ffffff; /* لون النص أبيض */
}

.navbar {
    background-color: #333333; /* لون خلفية شريط التنقل */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important; /* لون النص في شريط التنقل */
}

.container, footer {
    color: #ffffff; /* لون النص */
}

.footer {
    background-color: #333333; /* خلفية التذييل */
    color: #ffffff;
}

