{% extends 'employees/base.html' %}

{% block title %}Employees list{% endblock %}

{% block content %}
<h2 class="text-center">Employees list</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Employee name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Job title</th>
            <th>Hire date</th>
            <th>Employment type</th>
            
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone_number }}</td>
            <td>{{ employee.job_title }}</td>
            <td>{{ employee.hire_date}}</td>
            <td>{{ employee.employment_type}}</td>
            <td>
                <a href="{% url 'employees:edit_employee' employee.pk %}" class="btn btn-warning btn-sm">تعديل</a>
                <a href="{% url 'employees:delete_employee' employee.pk %}" class="btn btn-danger btn-sm">حذف</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'employees:add_employee' %}" class="btn btn-primary">إضافة موظف</a>
{% endblock %}
